common/ModeloNegocioCash/Entidades/PosicionGeografica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.bolivariano.com/PosicionGeografica" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.bolivariano.com/PosicionGeografica">
 <annotation>
  <documentation>Definicion de esquema para tipo de dato posicion</documentation>
 </annotation>
 <complexType name="PosicionGeografica">
  <sequence>   
   <element maxOccurs="1" minOccurs="1" name="latitud" type="string"/>
   <element maxOccurs="1" minOccurs="1" name="longuitud" type="string"/> 
  </sequence>
 </complexType>
</schema>