common/ModeloNegocioCash/Entidades/Transferencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.bolivariano.com/Transferencia" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.bolivariano.com/Transferencia">
        
 <complexType name="Transferencia">
  <sequence>
   <element name="CodigoSwift" type="string"/>
   <element minOccurs="0" name="MensajeSwift" type="string"/>
   <element minOccurs="0" name="MTI" type="string">
    <annotation><documentation>Message Type Indicator (MTI)</documentation></annotation>
   </element>
  </sequence>
 </complexType>
</schema>